/*防止本文被header覆蓋的空div*/
.layout {
	height: 100px;
}

/*Page說明字體*/
h4{
	color: #457B9D;
}
/*table設定*/
table.listAll{
	text-align: center;
}
thead {
	color: #505050;
}
tbody {
	color: #1D3557;
}
td.toLeft{
	text-align: left;
}

th.gw, td.gw {
	width: 120px;
	text-align: center;
}
table a {
	color: #457B9D;
	margin-right: 10px;
}
.tbody tr:hover {
	background-color: rgba(255, 245, 195, 0.5);
}
/*list all的美容師瀏覽圖片大小*/
table .showGPic{
	width:350px;
}
/*新增美容師的按鈕*/
.addgrm {
	text-align: center;
	border-radius: 7px;
	background-color: #FAA307;
	width: 120px;
	height: 30px;
	margin-left: 10px;
	transition-duration: 0.2s;
	cursor: pointer;
	padding-top: 4px;
}

.addgrm a {
	text-decoration: none;
	color: #F1FAEE !important;
}

.addgrm:hover {
	color: #aaa !important;
	text-shadow: 1px 1px 2px #fff;
	box-shadow: 0px 2px 5px #97B1BF;
}
/*美容師簡介的文字輸入框*/
input.gInfo {
	width: 500px;
}
#cancelBtn{
	margin:10px 0px;
}
/*美容師front end設定*/
.card{
	margin: 15px 25px;
}
.card-img-top {
	width: 100%;
}
.grmbtn {
	justify-content: center;
	align-items: center;
	background-color: #8ED2C9;
	border-radius: 8px;
	color: #fff;
	line-height: 1.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	/*margin-top: 10px;
	margin-left: 20px;*/
	position:relative;
	top:10px;
	border-color: #8ED2C9;
}
.grmbtn:hover {
	background-color: #FFB85F;
	border-color: #FFB85F;
	text-shadow: 1px 1px 1px #A8DADC
}
.card-body .gname{
	color: #505050;
}
.card-body p{
	color: #aaa;
}
#back{
	margin-bottom: 10px;
}
/*以下為服務項目設定*/
.mySVBtn{
	padding: 12px 0px;
	width: 100px;
}
th.w-150, td.w-150{
	width: 150px;
}
th.w-200, td.w-200{
	width: 200px;
}
td.salsevpr{
	width: 100px;
}
.sevpr{
	display: block;
	margin-top: 10px;
}
.m-10{
	margin: 10px;
}
.salvtime{
	text-align: right;
}