/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}

html {
	height: 100%;
	/*Image only BG fallback*/
}

body {
	font-family: montserrat, arial, verdana;
}

/* 內文位置下移 */
.container {
    position: relative;
    top: 80px;
    min-height: 1000px;
    padding-bottom: 80px;
}
.errorList {
    display: block;
    position: relative;
    top: 70px;
    left: -110px;
    height: 50px;
    width: 180px;
}


/* -------------顯示保姆的所有服務的小框------------- */
.wrap {
	background-color: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 5px;
	padding: 12px;
	margin: 20px auto;
/* 	max-width: 60%; */
/* 	min-height: 200px; */
	border-collapse: collapse;
}

.thead {
	background: #f7f7f7;
	display: inline-flex;
	padding: 0 10px;
	font-weight: 600;
	box-shadow: 1px 2px 2px #c1c1c1;

}

.thead-th {
	padding: 10px;
}

.tbody {
	padding: 0;
}

.tbody-tr {
	border-top: 1px solid #efefef;
	display: inline-flex;
	padding: 0;
}
.tbody-tr:hover {
/* 	box-shadow: 1px 2px 2px #c1c1c1; */
	background-color: rgba(59, 151, 255, 0.1);
}
.tbody-td {
	padding: 15px 10px;
	display: inline-flex;
	justify-content: center;
	align-items: stretch;
}
.tbody-td span {
    padding: 5px 0;
}
.ssNameDiv {
	justify-content: flex-start;
}
.ssFeeDiv {
	justify-content: flex-end;
	padding-right: 10px;
}
@media (min-width: 1200px) {
	.ssFeeDiv {
		padding-right: 35px;
	}
}

.ssFeeDiv div{
	padding: 5px 0;
	margin-left: 5px;
}
	
.ssFeeDiv small {
    color: #687073;
}
.slash {
	top: 12px;
    left: 8px;
    font-size: 16px;
}
.slash + small {
	top: 10px;
    left: 5px;
    font-size: 18px;
}
.ssAct form {
	height: 32px;
}
@media (max-width: 767.98px) {
	.ssAct {
		display: initial;
	}
	.ssFeeDiv {
		display: initial;
	}
}
a {
	color: #3b97ff;
	text-decoration: none;
}
a[data-title] {
	font-size: 20px;
	position: relative;
	cursor: point, 3, 3;
	height: 32px;
}
a[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  top: -34px;
  display: inline-block;
  padding: 1px 4px;
  border-radius: 2px;
  background: #FFF;
  color: #3b97ff;
  font-size: 16px;
  white-space: nowrap;
  border: 1px solid #3b97ff;
}
a[data-title]:hover::after {
  content: '';
  position: absolute;
	top: -6px;
 	transform: rotate(180deg);
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;	
  border-bottom: 8px solid #3b97ff;
}


.thName {
	text-align: left;
}
.thFee {
	text-align: center;
}
.thFeeUnit {
	text-align: left;
}
.thStatus {
	text-align: center;
}
/* 服務狀態顏色 */
.normalSrv {
	color: #009688;
}
.pauseSrv {
	color: #687073;
}
.verifying {
	color: #EE644F;
}

.thAction {
	text-align: center;
}
.table__icon {
	color: rgba(104, 112, 115, 0.7);
	margin: 3px 5px;
}
.table__icon:hover {
	color: #3b97ff;
	font-size: 28px;
	margin: 2px 3px;
}
.disabled {
	pointer-events: none;
}
.disabled i{
	color: #cfd7de;
}

.service-icon {
    line-height: 1em;
    vertical-align: middle;
	margin-right: 10px;
	padding: 3px 0;
}
.srvInfo-icon::after {
	background-size: 25px 25px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
}
.Boarding-icon::after {
	background-image: url("/EA103G3/front-end/img/pet-house.svg");
}
.DayCare-icon::after {
	background-image: url("/EA103G3/front-end/img/pet-milk.svg");
}
.DropIn-icon::after {
	background-image: url("/EA103G3/front-end/img/pet-food.svg");
}
.DogWalking-icon::after {
	background-image: url("/EA103G3/front-end/img/walking-the-dog.svg");
}
.PetTaxi-icon::after {
	background-image: url("/EA103G3/front-end/img/pet-taxi.svg");
}



/* -----------------sitSrvUpdate專用------------------ */
.updateBox {
	width: min-content;
    margin: 10px auto;
    padding: 30px;
}
.tab-content {
	max-height: unset;
    padding: 0;
}
.tab-content-info {
	margin-left: 15px
}
.ssName {
	padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 20px;
    z-index: 5;
	margin-left: 15px
}
.dogSize {
    width: 100%;
    clear: both;
    display: inherit;
}
.input-group-btn button {
	top: 0;
}
.input-number {
	margin-bottom: 10px !important;
	z-index: 5 !important;
}
.fee-group-input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px !important;
	position: relative;
    top: 8px;
    margin-top: 0px !important;
}
.quantity-input {
	border: 1px solid #ccc;
	border-radius: 3px;
}
.btnGp {
	text-align: center;
}
.action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.action-button:hover, .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.ck.ck-editor__editable_inline {
    overflow: inherit;
}