        * {
            /*以下三行清除g[器AO排版*/
            margin: 0px;
            padding: 0px;
            list-style: none;
            box-sizing: border-box;
            font-family: 'Montserrat', 微正黑w, sans-serif;
        }
        body {
            /*W站底色-米白色*/
            background-color: rgba(252, 244, 217, 0.4);
        }
        /* 以下是奶爸 */
        .myNav {
            /*奶爸底色-{灰色*/
            background-color: #A8DADC !important;
            height: 80px;
            width: 100%;
            /*奶爸立w影*/
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            /*配合RWD避免跑版*/
            padding: 0px;
            /*避免些微空隙*/
            top: -1px;
        }
        /* logoD */
        .myNav .myLogo {
            /* logo不要太靠 */
            margin-left: 50px;
            /*logo size*/
            width: 100px;
            height: 80px;
        }
        .myNav .myLogoWord {
            /*logoWord size*/
            width: 200px;
            height: 80px;
        }
        /* 奶爸下拉x */
        .myUnderLine {
            /* x伍g距 */
            margin-right: 5px;
        }
        .myUnderLine li {
            width: 150px;
            /* [藏x */
            height: 60px;
            /* y用 */
            /* height: 300px; */
            overflow: hidden;
            /* 靠底比^美^ */
            margin-top: 20px;
            /* BY文字置中 */
            text-align: center;
        }
        .myUnderLine li:hover {
            /* @示x */
            height: auto;
            color: #457b9d !important;
        }
        /* {整第一的x伍L度 */
        .myUnderLine li .myFirst {
            margin-bottom: 4px;
        }
        /*下拉x*/
        .moreLink {
            /* x紊舷麻g距 */
            padding-bottom: 15px;
            display: block;
            background-color: #A8DADC !important;
        }
        
        /* 奶爸超BY文字 */
        .myNavDiv li a {
            /*文字色-y白色，影底色-深{色*/
            color: #F1FAEE !important;
            text-shadow: 1px 1px 3px #457b9d;
            font-size: 22px;
            font-weight: bold;
            padding-top: 15px;
        }
        .myNavDiv li a:hover {
            /*文字色-深{色，影底色-\{色*/
            color: #457b9d !important;
            text-shadow: 1px 1px 1px #A8DADC;
        }
        /*改英文*/
        .myUnderLine a:hover .ch-word {
            display: none;
        }
        .en-word {
            display: none;
        }
        .myUnderLine a:hover .en-word {
            display: block;
        }
        /* 以上是奶爸所有的下拉x */

        /*登入按o*/
        .collapse .myBtn {
            /*移除所有AO*/
            border: none;
            outline: none;
            -webkit-appearance: none;
            /* Safari 和 Chrome，常用於iOS下移除冉邮 */
            -moz-appearance: none;
            /* FireFox */
            appearance: none;
            /*以上移除所有buttonAO*/

            color: #fff;
            background-color: #FAA307;
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
            /*大小位置*/
            width: 100px;
            padding: 2px;
            margin: 10px 50px 0px 10px;
            /*鼠*/
            cursor: pointer;
            /*A角*/
            border-radius: 7px;

            /*延t赢*/
            transition-duration: 0.2s;
            overflow: hidden;
        }
        .collapse .myBtn:hover {
            color: #FF7260 !important;
            background-color: #fff;
            text-shadow: 1px 1px 2px #fff;
            box-shadow: 0px 2px 5px #97B1BF;
        }
        .myBtn:active, .myBtn:focus {
            color: #fff !important;
            background-color: #FF7260;
        }
        /* 以上是登入按o */

        /*首播D片O定*/
        .myBanner {
            margin: 40px auto;
            width: 95%;
        }
        .myBanner ol {
            position: relative;
            top: 700px;
        }
        .myBannerImg {
            height: 720px;
            background-size: cover !important;
        }
        .myPrev, .myNext {
            margin-top: 40px;
            height: 720px;
        }
        /*_印*/
        .petfooter {
            height: 140px;
            text-align: center;
            overflow: hidden;
        }
        .petfooter img {
            opacity: 0;
            margin: 10px auto;
            position: relative;
        }
        .petfooter .pf1 {
            animation: footer 3s ease-in-out 0s infinite forwards;
            transform: rotate(150deg);
        }
        .petfooter .pf2 {
            animation: footer 3s ease-in-out 1s infinite forwards;
            transform: rotate(120deg);
            top: 25px;
            left: 20px;
        }
        .petfooter .pf3 {
            animation: footer 3s ease-in-out 2s infinite forwards;
            transform: rotate(150deg);
            top: 75px;
            left: -110px;
        }
        /*_印赢*/
        @keyframes footer {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }
        /*以上槭醉播D片O定

        /*bodyO定*/
        /*客服聊天室按o*/
        .qaicon {
            position: fixed;
            bottom: 20px;
            margin: auto;
            right: 10px;
            z-index: 9;
        }
        .qaicon img {
            width: 80px;
            height: 80px;
        }
        /*以上客服聊天室按o*/
        /* 各列H1祟} */
        .myH1 {
            color: #FF7A5A;
            font-weight: 900;
            margin: 40px auto;
        }
        .row2, .row3, .row4 {
            margin-top: 60px;
            padding: 10px;
            text-align: center;
        }
        .row4 h1 {
            margin-top: 150px;
        }
        /*以下是服^小卡*/
        .card {
            display: inline-block;
            margin: 30px 25px;
            box-shadow: 0 4px 8px 0 rgba(29, 53, 87, 0.2);
            transition: 0.3s;
            width: 40%;
        }
        .card:hover {
            transform: translateY(-1rem);
        }
        /*以下是互^*/
        /*互^大D*/
        .myBox {
            z-index: 5;
            overflow: hidden;
        }
        .myBox img {
            height: 360px;
            /* 赢放大效果 */
            transform: scale(1, 1);
            transition: all 1s ease-out;
            z-index: 1;
        }
        .myBox:hover img {
            /* 赢暗效果 */
            filter: brightness(0.7);
            /* 赢放大效果 */
            transition: all 0.8s;
            transform: scale(1.2, 1.2);
        }
        /* 互^祟^，]加上赢 */
        .myBox figcaption {
            display: none;
            text-align: center;
            color: #aaa;
            text-shadow: 2px 2px 2px #fff;
            transition: all 1.5s;
            font-size: 24px;
            background-color: rgba(255, 255, 255, 0.3);
        }
        .myBlog, .myEvent {
            box-shadow: 7px 4px 18px 2px rgba(29, 53, 87, 0.2);
            background-color: #fff;
            padding: 30px 50px;
            height: 360px !important;
        }
        /*互^BY*/
        h2 {
            font-weight: 900;
            color: #1D3557;
        }
        h5 {
            color: #505050;
            margin: 20px 0;
        }
        .text ul {
            list-style-type: none;
        }
        .text li {
            padding-top: 10px;
            text-align: left;
        }
        .separate {
            width: 100%;
            height: 180px;
        }
        /* 以上是互^ */

        /* V告 */
        .ad img {
            width: 240px;
            height: 160px;
            margin: 15px 15px;
        }
        .cutePage {
            height: 120px;
            vertical-align: center;
        }
        .page {
            width: 40px;
            height: 40px;
            display: inline-block;
            margin: 10px;
        }
        /*以上bodyO定*/

        /*以下footerO定*/
        .main-footer {
            background-color: #264653;
            color: #fff;
            padding-top: 30px;
            padding-bottom: 15px;
        }
        .myFooterContainer ul {
            list-style-type: none;
            margin: 5px auto;
            padding: 0px;
            text-align: center;
        }
        .myFooterContainer ul li {
            margin-top: 20px;
        }
        .myFooterLink {
            text-decoration: none;
            color: #fff;
        }
        .myFooterLink:hover {
            text-decoration: none;
            color: #fff;
            text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
        }
        /*版嘧*/
        .copyright {
            color: #000;
            margin: 10px 0px 0px 0px;
        }
        /*X幕赢*/
        @media (min-width: 992px) {
            /* 下拉x未笪幕高度 */
            .myUnderLine {
                height: 80px;
                border-bottom: 5px solid #A8DADC;
            }
            .myUnderLine:hover {
                border-bottom: 5px solid #457b9d;
            }
            /* banner大幕才用fixed */
            .myBannerImg {
                background-attachment: fixed !important;
            }
            .myBlog, .myEvent {
                width: 540px;
                height: 360px;
                /*相ξ恢*/
                z-index: 5;
                position: relative;
                top: 100px;
                left: -70px;
            }
            .row3 {
                margin-top: 20px;
            }
            .row3 h1 {
                margin: 40px 0px 60px 0px;
            }
        }
        /* 平板、手C等中幕 */
        @media (max-width: 991px) {
            /*手C不放logo*/
            .myNav .myLogo {
                display: none !important;
            }
            /*h堡下拉*/
            .myNavDiv {
                position: absolute;
                top:80px;
                width:100%;
                background-color: rgba(168, 218, 220, 0.5);
                text-align: center;
            }
            /* h堡下拉後的x慰蚩 */
            .myUnderLine li {
                width: 80%;
                margin: 0 auto;
            }
            .myUnderLine li:hover {
                margin: 0 auto;
                border: 1px solid rgba(69, 123, 157, 0.7);
            }
            /*下拉x*/
            .moreLink {
                /* x紊舷麻g距 */
                padding-bottom: 5px;
                display: block;
                background-color: transparent !important;
            }
            .myUnderLine li a:hover {
                background-color: rgba(168, 218, 220, 0.6) !important;
            }
            /*bannerD*/
            .myBannerImg {
                height: 650px;
            }
            .myBanner ol {
                position: relative;
                top: 650px;
            }
            /*登入按o*/
            .collapse .myBtn {
                margin: 15px auto;
            }
            .collapsing .myBtn {
                margin: 15px auto;
                overflow: hidden;

                color: #fff;
                background-color: #FAA307;
                text-align: center;
                font-size: 20px;
                font-weight: bolder;
                /*大小位置*/
                width: 100px;
                padding: 2px;
                /*A角*/
                border-radius: 7px;

                /*移除所有AO*/
                border: none;
                outline: none;
            }
            /*以上登入按o*/
            .myBox {
                padding: 0px;
            }
            .myBox img {
                max-height: 100%;
                width: auto;
                overflow: hidden;
                object-fit: cover;
            }
            .myBlog, .myEvent {
                box-shadow: 7px 4px 18px 2px rgba(29, 53, 87, 0.2);
                background-color: #FFF;
                padding-top: 15px;
                overflow: hidden;
            }
            h5 {
                display: none;
            }
            .text ul {
                padding-left: 0px;
            }
            .separate {
                width: 100%;
                height: 50px;
            }
            .row4 h1 {
                margin-top: 40px;
            }
        }
        /*手CRWD*/
        @media (max-width: 767.98px) {
            /* bannerD */
            .myBannerParent {
                width:100% !important;
                height:680px !important;
            }
            .myBannerImg {
                background-size: auto 680px !important;
            }
            .row2, .row3, .row4 {
                margin-top: 40px;
            }
            .row3 h1 {
                margin: 20px 0px 60px 0px;
            }
            .row4 h1 {
                margin-top: 40px;
            }
            /*以下是服^小卡*/
            .card {
                box-shadow: 0 4px 8px 0 rgba(29, 53, 87, 0.2);
                transition: 0.3s;
                margin: 25px auto;
            }

            /*以下是互^*/
            .myBox {
                padding: 0px;
                width: 80%;
                height: 280px;
            }
            .myBox img {
                width: 80%;
                height: 280px;
            }
            .myBlog, .myEvent {
                max-width: 80% !important;
                height: 340px !important;
                padding: 15px 5px;
                margin: auto;
            }
            .myBlog ul, .myEvent ul {
                padding-left: 20px;
            }
            .separate {
                width: 100%;
                height: 80px;
            }
        }